# Archivos de entorno
.env
*.log

# Archivos temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks temporales
.ipynb_checkpoints/

# Configuración local
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
